<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.carsys.mapper.ShortRentMapper">
    <resultMap id="cityMap" type="com.demo.carsys.entity.City">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="pid" property="pId"/>
    </resultMap>
    <select id="shortRentCityList" resultType="com.demo.carsys.entity.City">
        select id,name,pid from sys_city where pid=0
    </select>
    <select id="shortRentList" resultType="com.demo.carsys.entity.City">
        select name from sys_city where pid = #{id}
    </select>

</mapper>